<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppb_tubes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPB_TUBES">
        <activity
            android:name=".ui.Thread.CreateThreadActivity"
            android:exported="false" />
        <activity
            android:name=".AgentView.Jett"
            android:exported="false" />
        <activity
            android:name=".AgentView.Cypher"
            android:exported="false" />
        <activity
            android:name=".AgentView.Reyna"
            android:exported="false" />
        <activity
            android:name=".AgentView.Sage"
            android:exported="false" />
        <activity
            android:name=".AgentView.Skye"
            android:exported="false" />
        <activity
            android:name=".AgentView.Viper"
            android:exported="false" />
        <activity
            android:name=".AgentView.Yoru"
            android:exported="false" />
        <activity
            android:name=".AgentView.Sova"
            android:exported="false" />
        <activity
            android:name=".AgentView.Killjoy"
            android:exported="false" />
        <activity
            android:name=".AgentView.Kayo"
            android:exported="false" />
        <activity
            android:name=".AgentView.Raze"
            android:exported="false" />
        <activity
            android:name=".AgentView.Phoenix"
            android:exported="false" />
        <activity
            android:name=".AgentView.Omen"
            android:exported="false" />
        <activity
            android:name=".AgentView.Neon"
            android:exported="false" />
        <activity
            android:name=".Agent"
            android:exported="false" />
        <activity
            android:name=".AgentView.Chamber"
            android:exported="false" />
        <activity
            android:name=".AgentView.Brimstone"
            android:exported="false" />
        <activity
            android:name=".AgentView.Breach"
            android:exported="false" />
        <activity
            android:name=".AgentView.Astra"
            android:exported="false" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Phantom"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Vandal"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Guardian"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Bulldog"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Odin"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Ares"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Operator"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Marshall"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Judge"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Bucky"
            android:exported="false" />
        <activity
            android:name=".MainActivityWithNav"
            android:exported="false"
            android:label="@string/title_activity_main_with_nav"
            android:theme="@style/Theme.PPB_TUBES.NoActionBar" />
        <activity
            android:name=".WeaponView.Spectre"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Stinger"
            android:exported="false" />
        <activity
            android:name=".WeaponView.GoldenGun"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Sheriff"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Frenzy"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Shorty"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Ghost"
            android:exported="false" />
        <activity
            android:name=".WeaponView.Classic"
            android:exported="false" />
        <activity
            android:name=".WeaponView.TacticalKnife"
            android:exported="false" />
        <activity
            android:name=".Weapon"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>